/* move search box to the left when using dataTables */
/* .dataTables_filter {
    float: left !important;
} */


.languageSelector {
    /* margin: 16px;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    right: 0; */
}

.languageSelector button {
    background-color: transparent;
    border: transparent;
}

.languageSelector img {
    height: 2em;
}


table.dataTable thead>tr>th {
    padding-left: .5em !important;
    padding-right: .5em !important;
}

table.dataTable thead .sorting:after {
    content: none !important;
}
table.dataTable thead .sorting:before {
    content: none !important;
}
